@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: var(--font-sans);
  --font-heading: var(--font-heading);
}

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-surface-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
}